# Notebook para comandos SQL

geralmente utilizo o package psycopg2 para me comunicar com o banco de dados postgresql, às vezes utilizo pgadmin4 para melhor visualização dos db e tabelas, mas como utilizo apenas para puxar tabelas do banco de dados para análise de dados, costumo só utilizar python com notebook.

In [43]:
import psycopg2 #package python de interação com banco de dados, referências em: https://www.psycopg.org/docs/ e https://pypi.org/project/psycopg2/
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas as pd #mais famoso package de manipulação de dados em python

In [44]:
# informações do banco de dados
host, port, db, user, password = "localhost", 5432, "dbbft", "postgres", "1234"

In [5]:
#por enquanto, a conexão deve somente acontecer no server
conn = psycopg2.connect(user=user, password=password)

Na execução do objeto psycopg2.connect().cursor().execute() por padrão ele não escreve direto no banco de dados, é necessário chamar o objeto da classe connect(), connect().commit(), para realizar um commit no server postgresql, mas usando ISOLATION_LEVEL_AUTOCOMMIT, o objeto execute() já realiza os comandos dentro do server

In [30]:
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [31]:
# a classe cursor permite realizar queries com o banco de dados 
qry = conn.cursor()

In [13]:
qry.execute("CREATE DATABASE dbbft")

In [32]:
#se conectando à database
conn = psycopg2.connect(host=host, port=port, database=db, user=user, password=password)

In [33]:
create_table = "CREATE TABLE usuarios (id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY, email TEXT UNIQUE NOT NULL, senha TEXT NOT NULL);"

In [34]:
qry.execute(create_table)

In [35]:
# adicionando um email, senha na tabela usuários para afins de teste
qry.execute("INSERT INTO usuarios (email, senha) VALUES ('teste@mail.com', 'abc123');")

Para análise de dados é interessante puxar a tabela utilizando pandas para a manipulação

In [36]:
select = "SELECT * FROM usuarios;"

In [37]:
data = pd.read_sql(select, conn)
data

   id           email   senha
0   1  teste@mail.com  abc123

DB, tabela criadas com sucesso!

## Verificando se os dados esttão sendo gravados no DB

In [45]:
host, port, db, user, password = "localhost", 5432, "dbbft", "postgres", "1234"
conn = psycopg2.connect(host=host, port=port, database=db, user=user, password=password)
qry = conn.cursor()
select = "SELECT * FROM usuarios;"
data = pd.read_sql(select, conn)

In [46]:
data

   id             email                             senha
0   1    teste@mail.com                            abc123
1   3  qwerty@email.com  81dc9bdb52d04dc20036dbd8313ed055

email cadastrado já com senha criptografada

## Percebi que esrevi UNIQUE na coluna

In [47]:
alter = "ALTER TABLE usuarios DROP CONSTRAINT usuarios_senha_key"

In [48]:
qry.execute(alter)

In [49]:
conn.commit()